* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e7f6ff;
}

.wrapper {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 0 auto;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
}
.headerLeft img {
  margin-right: 15px;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
}
.search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}
.search-block .search-clear {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.drawer .items {
  overflow: auto;
  margin-bottom: 40px;
}
.items {
  flex: 1;
}
.cartTotalBlock div {
  flex: 1;
  border-bottom: 1px dashed #dfdfdf;
  height: 1px;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
.cartTotalBlock li {
  display: flex;
  align-items: flex-end;
}
.greenButton {
  width: 100%;
  border-radius: 18px;
  background: #9dd458;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 55px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
  position: relative;
}
.cartTotalBlock ul {
  margin-bottom: 40px !important;
}
.greenButton:hover {
  background: rgba(157, 212, 88, 90%);
}
.greenButton:active {
  background: rgb(139, 207, 56);
}
.cartTotalBlock .greenButton img {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}
.cartTotalBlock .greenButton:hover img {
  transform: translateX(5px);
}
.drawer h2 {
  margin: 0;
  font-size: 24px;
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.cartItem p {
  font-size: 16px;
}
.cartItem b {
  font-size: 14px;
}
.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.removeBtn:hover {
  opacity: 1;
}
.cardItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 10px;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
  width: 100%;
  height: 100px;

}
.empty-cart img {
  width: 50%;
}
